<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost/epers_tp1e2_hibernate</property>
        <property name="hibernate.connection.username">epers</property>
        <property name="hibernate.connection.password">epers</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="show_sql">true</property>

        <mapping class="org.unq.epers.grupo5.rentauto.model.Auto" ></mapping>
		<mapping class="org.unq.epers.grupo5.rentauto.model.Deportivo" ></mapping>
		<mapping class="org.unq.epers.grupo5.rentauto.model.Familiar" ></mapping>
		<mapping class="org.unq.epers.grupo5.rentauto.model.Reserva" ></mapping>
		<mapping class="org.unq.epers.grupo5.rentauto.model.TodoTerreno" ></mapping>
		<mapping class="org.unq.epers.grupo5.rentauto.model.Turismo" ></mapping>
		<mapping class="org.unq.epers.grupo5.rentauto.model.Ubicacion" ></mapping>
		<mapping class="org.unq.epers.grupo5.rentauto.entities.Usuario" ></mapping>

    </session-factory>
</hibernate-configuration>